@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.my-music-box {
    width: 90%;
    height: 28%;
    margin: auto;
    margin-top: 22px;
    color: white;
    padding-top: 8px;
    padding-bottom: 12px;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
}

.my-music-box .like-music {
    width: 300px;
    height: 160px;
    border: 1px solid rgba(119, 118, 118, 0.141);
    margin: 0 16px;
    padding: 14px;
    padding-top: 26px;
    background-color: rgba(155, 152, 152, 0.141);
    border-radius: 8px;
    cursor: pointer;
}
.my-music-box .like-music:hover{
    opacity: 0.8;
    cursor: pointer;
}

.my-music-box .like-music i {
    font-size: 30px;
    font-weight: bolder;
    color: rgb(248, 112, 162);
}

.my-music-box .like-music h2 {
    font-size: 26px;
    font-weight: bold;
    font-family: 'lato';
}

.my-music-box .like-music p {
    font-size: 17px;
    font-family: 'lato';
    color: rgba(196, 192, 192, 0.9);
}

.my-music-box .music-playlist {
    width: 300px;
    height: 160px;
    margin: 0 16px;
    padding: 14px;
    padding-top: 26px;
    border: 1px solid rgba(119, 118, 118, 0.141);
    background-color: rgba(155, 152, 152, 0.141);
    border-radius: 8px;
    cursor: pointer;
    scroll-behavior: smooth;
}
.my-music-box .music-playlist:hover{
    opacity: 0.7;
    cursor: pointer;
}

.my-music-box .music-playlist i {
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.my-music-box .music-playlist h2 {
    font-size: 26px;
    font-weight: bold;
    font-family: 'lato';
}

.my-music-box .music-playlist p {
    font-size: 17px;
    font-family: 'lato';
    color: rgba(196, 192, 192, 0.9);
}

.recently-paly {
    width: 90%;
    height: auto;
    margin: auto;
    /* border: 1px solid white; */
    color: white;
    padding-top: 4px;
}

.recently-paly h4 {
    font-size: 28px;
    font-family: 'lato';
    letter-spacing: 1px;
    padding-left: 16px;
}

.recently-paly .music_list {
    width: 90%;
    height: 328px;
    /* border: 1px solid white; */
    margin-top: 16px;
    overflow-y: auto;
}

.recently-paly .music_list .song_info {
    width: 100%;
    height: 60px;
    /* border: 1px solid white; */
    margin: 3px 0;
    display: flex;
    align-items: center;
    color: white;
}

.recently-paly .music_list .song_info:hover {
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
}

.recently-paly .music_list .song_info img {
    width: 52px;
    height: 40px;
    margin-left: 16px;
    border-radius: 4px;
}

.recently-paly .music_list .song_info p {
    padding-left: 10px;
    font-size: 18px;
    font-family: 'lato';
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.recently-paly .music_list .song_info .singer {
    padding-left: 8px;
    margin: 0 6px;
    font-size: 16px;
    font-family: 'lato';
    color: rgba(180, 177, 177, 0.937);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 400px;
}

.recently-paly .music_list .fa-heart {
    opacity: 0;
}

.recently-paly .music_list .song_info:hover .fa-heart {
    opacity: 1;
}

.recently-paly .music_list .song_info span {
    margin: 0 6px;
    font-size: 17px;
    font-weight: lighter;
    color: rgba(187, 186, 186, 0.921);
}

.recently-paly .music_list .song_info i {
    font-size: 22px;
    font-weight: lighter;
    margin: auto;
    color: rgb(230, 230, 230);
}

.container .right_side .music_list .song_info:hover i {
    color: rgba(179, 177, 177, 0.9);
}