@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container .right_side .comedy_Podcast {
    width: 90%;
    height: auto;
    margin: auto;
    /* border: 1px solid white; */
    color: white;
    padding-top: 24px;
    scroll-behavior: smooth;
}

.container .right_side .comedy_Podcast .h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .right_side .comedy_Podcast .h4 h4 {
    font-size: 30px;
    font-family: 'lato';
    letter-spacing: 1px;
    padding-left: 16px;
}

.container .right_side .comedy_Podcast .btn_s .fa-solid {
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
    padding: 0 8px;
}

.container .right_side .comedy_Podcast .btn_s .fa-solid:hover {
    color: white;
}

.container .right_side .comedy_Podcast .pod_card {
    width: 100%;
    height: 216px;
    /* border: 1px solid white; */
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: column;
    overflow: auto;
    scroll-behavior: smooth;
    gap: 34px;
    padding: 0 14px;

}

/* .container .right_side .popular_songs .song_card::-webkit-scrollbar {
    display: none;
} */

.container .right_side .comedy_Podcast .pod_card .podItem {
    width: 160px;
    height: 210px;
    color: white;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.container .right_side .comedy_Podcast .pod_card .podItem:hover {
    background-color: rgba(180, 177, 177, 0.141);
    border-radius: 8px;
    cursor: pointer;
}

.container .right_side .comedy_Podcast .pod_card .podItem .img_play {
    position: relative;
    width: 160px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .right_side .comedy_Podcast .pod_card .podItem .img_play img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.container .right_side .comedy_Podcast .pod_card .podItem .img_play .bi {
    position: absolute;
    font-size: 50px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}

.container .right_side .comedy_Podcast .pod_card .podItem:hover .img_play .bi {
    opacity: 1.5;
}

.container .right_side .comedy_Podcast .pod_card .podItem:hover .img_play img {
    opacity: .6;
}

.container .right_side .comedy_Podcast .pod_card .podItem p {
    font-weight: bold;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-family: 'popinas' sans-serif;
    padding: 2px 0 0 2px;
}

.container .right_side .comedy_Podcast .pod_card .podItem .podcaster {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0 0 2px;
    color: #e4e4e4;
}

.container .bottom_side .pod_info {
    width: 260px;
    height: 36px;
    /* border: 1px solid white; */
    margin-left: 15px;
    color: white;
    line-height: 16px;
}

.container .bottom_side .pod_info p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'lato';
}

.container .bottom_side .pod_info .podcaster {
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffffa1;
}