@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;

}

header {
  width: 100%;
  height: 80px;
  background-color: black;
  font-family: 'lato';
  border-bottom: 1px solid rgba(88, 86, 86, 0.855);
  position: fixed;
  z-index: 6;
}

nav {
  width: 100%;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav .logo {
  width: 250px;
  height: 65px;
  padding: 0 12px;
}

nav .logo img {
  width: 210px;
  height: 62px;
}

nav ul {
  list-style: none;
  padding: 0 12px;
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  padding: 0 10px;

}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 35px;
  letter-spacing: 1px;
  font-family: 'lato';

}

nav ul li a:hover {
  text-decoration-line: underline;
  transition: 0.3s linear ease-in-out;
}

nav .login {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 36px;
  background-color: #a4a1a15e;
  border-radius: 18px;
  margin: 0 60px;
}

nav .login:hover {
  transition: .3s linear;
  color: #00edfa;
  background: none;
  border: 1px solid #36e2ec;
  cursor: pointer;
}

nav .login li {
  list-style: none;
}

nav .login li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: '';
  letter-spacing: 1px;
}

.container {
  width: 100%;
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(76, 20, 94, 1) 32%, rgba(70, 47, 132, 1) 67%, rgba(4, 84, 109, 1) 91%);
  padding-top: 80px;
}

.container h2 {
  text-align: center;
  padding: 40px 0;
  color: white;
  font-family: 'lato';
  font-size: 32px;
}

.container .price-row {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 24px;

}

.container .price-col {
  background: rgb(33, 58, 78);
  background: linear-gradient(90deg, rgba(33, 58, 78, 1) 34%, rgba(46, 16, 62, 1) 82%);
  padding: 8% 12%;
  color: white;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #446d63;
}

.container .price-col p {
  font-size: 26px;
  font-family: 'lato';
  font-weight: bold;
}

.container .price-col h3 {
  font-size: 44px;
  margin: 20px 0 40px;
  font-weight: 500;
}

.container .price-col h3 span {
  font-size: 16px;
}

.container .price-col ul {
  text-align: left;
  margin: 16px 0;
  color: #fff;
  list-style: none;
}

.container .price-col ul li {
  margin: 15px 0;
}

.container .price-col ul li::before {
  content: '\2022';
  color: #36e2ec;
  font-weight: bold;
  margin-right: 8px;
}

.container .price-col button {
  width: 100%;
  padding: 14px 0;
  background-color: transparent;
  color: #fff;
  font-size: 15px;
  border: 1px solid #36e2ec;
  margin-top: 30px;
  cursor: pointer;
  transition: background 0.5s;
}

.container .price-col button:hover {
  background-color: #36e2ec;
}

footer {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(28, 27, 27, 0.904);
  background-color: rgba(6, 6, 6, 0.842);
  color: white;
}

footer span {
  font-size: larger;
  font-family: 'alto';
  font-weight: bold;
}