@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color1: #111727;
    --bg-color2: #0b1320;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(7, 7, 18);
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}


/* Left side of container disign */

/* -------------------------------------------- */
.container .left_side {
    width: 17%;
    height: 90%;
    background-color: rgb(9, 9, 9);
    color: white;
    transition: .3s linear;
    border-right: 1px solid rgba(255, 255, 255, .1);
    /* border: 1px solid white; */
}

.container .left_side nav .logo {
    width: auto;
}

.container .left_side .logo img {
    width: 200px;
    padding: 8px 4px;
    margin: 2px 8px;
    transition: .3s linear;
}

.container .left_side nav ul li {
    list-style: none;
    padding: 18px 28px;
    transition: .3s linear;
    opacity: 0.8;
}

.container .left_side nav ul li:hover {
    background-color: rgba(255, 255, 255, .1);
    border-radius: 8px;
    cursor: pointer;
    opacity: 1.5;
    transition: .3s linear;
}

.container .left_side nav ul li i {
    font-size: 22px;
    margin-right: 17px;
    transition: .3s linear;
}

.container .left_side nav ul li a {
    font-family: "lato", sans-serif;
    text-decoration: none;
    color: #fff;
    transition: .3s linear;
    padding: 0 6px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s;
}

.container .left_side nav .line {
    border-top: 1px solid rgb(62, 61, 62);
    margin: 20px auto;
    width: 196px;
}

.container .left_side nav .new_playlist {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 192px;
    border-radius: 18px;
    border-color: transparent;
    background-color: rgba(155, 152, 152, 0.141);
    margin: 0 33px;
    color: #f1f1f1;
    opacity: 0.8;
}

.container .left_side nav .new_playlist:hover {
    background-color: rgba(255, 255, 255, 0.21);
    border-radius: 18px;
    cursor: pointer;
    opacity: 1.5;
    transition: .3s linear;
    border: 1px solid #36e2ec;
}

.container .left_side nav .new_playlist span {
    font-size: 16px;
    font-weight: bolder;
    letter-spacing: 1px;
}

.container .left_side nav .new_playlist i {
    padding-right: 4px;
    font-size: 19px;
    font-weight: normal;
}


/* Right side of container disign */

/* -------------------------------------------- */


.container .right_side {

    width: 83%;
    height: 90%;
    box-shadow: 4px 0px 2px #090f1f;
    position: relative;
    z-index: 1;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* border: 1px solid white; */

}

.container .right_side::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    /* background-image: url(../assests/bg/bg2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    box-shadow: 4px 0px 2px #090f1f;
    animation: slider 25s infinite linear;
    z-index: -1;
    opacity: 0.5;
    scroll-behavior: smooth;
    animation-delay: .5s;
}

@keyframes slider {
    0% {
        background-image: url(../assests/bg/bg2.jpg);
    }

    20% {
        background-image: url(../assests/bg/bg1.jpg);
    }

    40% {
        background-image: url(../assests/bg/bg3.jpg);
    }

    60% {
        background-image: url(../assests/bg/bg4.jpg);
    }

    80% {
        background-image: url(../assests/bg/bg5.jpg);
    }

    100% {
        background-image: url(../assests/bg/bg6.jpg);
    }

}

.container .right_side .navbar {
    width: 100%;
    height: 66px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .right_side .navbar .search {
    position: relative;
    width: 44%;
    height: 38px;
    border-radius: 8px;
    margin: 0 78px;
    background-color: rgba(255, 255, 255, .1);
}

.container .right_side .navbar .search .bi {
    padding-left: 17px;
    font-size: large;
    font-weight: normal;
    color: rgb(162, 161, 161);
    cursor: pointer;
    transition: .3s linear;
}

.container .right_side .navbar .search input {
    width: 90%;
    height: inherit;
    border: none;
    outline: none;
    background: none;
    color: white;
    padding: 0 25px;
    font-family: 'lato' sans-serif;
    letter-spacing: 1px;
    font-size: medium;
    font-weight: inherit;
    transition: .3s linear;
}

.container .right_side .navbar .primium {
    width: 20%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container .right_side .navbar .primium li {
    list-style: none;
}

.container .right_side .navbar .primium li a {
    text-decoration: none;
    color: #f4f5f6;
    font-size: 22px;
    font-weight: bold;
    font-family: 'lato';
    letter-spacing: 1px;
}

.container .right_side .navbar .primium li a:hover {
    text-decoration: underline;
    color: #36e2ec;
    opacity: 1;
}

.container .right_side .navbar .login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 36px;
    background-color: #a4a1a15e;
    border-radius: 18px;
    margin-right: 40px;
    margin-left: 20px;
}

.container .right_side .navbar .login:hover {
    transition: .3s linear;
    color: #00edfa;
    background: none;
    border: 1px solid #36e2ec;
    cursor: pointer;
}

.container .right_side .navbar .login li {
    list-style: none;
}

.container .right_side .navbar .login li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: '';
    letter-spacing: 1px;
}

.container .right_side .content {
    width: 90%;
    height: 28%;
    margin: auto;
    color: white;
    padding-top: 8px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.container .right_side .content h1 {
    font-weight: bold;
    font-family: 'lato';
    letter-spacing: 1px;
}

.container .right_side .content p {
    font-weight: 400;
    font-family: '';
    letter-spacing: 1px;
    font-size: 14px;
    padding-top: 1px;
    color: #fffdfdd1;
}

.container .right_side .content .button {
    margin-top: 12px;

}

.container .right_side .content .button button {
    width: 130px;
    height: 30px;
    border: 2px solid #36e2ec;
    background-color: #5adae0;
    color: #525252;
    outline: none;
    border-radius: 18px;
    font-family: '';
    font-weight: bold;

}

.container .right_side .content .button button:hover {
    background: none;
    color: #00edfa;
    transition: .3s linear;
}

.container .right_side .popular_songs {
    width: 90%;
    height: auto;
    margin: auto;
    /* border: 1px solid white; */
    color: white;
    padding-top: 2px;
}

.container .right_side .popular_songs .h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .right_side .popular_songs .h4 h4 {
    font-size: 28px;
    font-family: '';
    font-weight: lighter;
    letter-spacing: 1px;
    padding-left: 16px;
}

.container .right_side .popular_songs .btn_s .fa-solid {
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
    padding: 0 8px;
}

.container .right_side .popular_songs .btn_s .fa-solid:hover {
    color: white;
}

.container .right_side .popular_songs .song_card {
    width: 100%;
    height: 165px;
    /* border: 1px solid white; */
    margin-top: 15px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: column;
    overflow: auto;
    scroll-behavior: smooth;
    gap: 32px;
    padding: 0 14px;

}

::-webkit-scrollbar{
    display: none;
}
/* .container .right_side .popular_songs .song_card::-webkit-scrollbar {
    display: none;
} */

.container .right_side .popular_songs .song_card .songItem {
    width: 130px;
    height: 160px;
    color: white;
    margin: 0 auto;
}

.container .right_side .popular_songs .song_card .songItem:hover {
    background-color: rgba(180, 177, 177, 0.141);
    border-radius: 8px;
    cursor: pointer;
}

.container .right_side .popular_songs .song_card .songItem .img_play {
    position: relative;
    width: 130px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container .right_side .popular_songs .song_card .songItem .img_play img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.container .right_side .popular_songs .song_card .songItem .img_play .bi {
    position: absolute;
    font-size: 40px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
}

.container .right_side .popular_songs .song_card .songItem:hover .img_play .bi {
    opacity: 1.5;
}

.container .right_side .popular_songs .song_card .songItem:hover .img_play img {
    opacity: .6;
}

.container .right_side .popular_songs .song_card .songItem p {
    font-weight: bold;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    font-family: 'popinas' sans-serif;
    padding: 2px 0 0 2px;
}

.container .right_side .popular_songs .song_card .songItem .singer {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0 0 2px;
    color: #e4e4e4;
}


.container .right_side .popular_artist {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 15px;
    /* border: 1px solid white; */
    color: white;
}

.container .right_side .popular_artist .h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .right_side .popular_artist .h4 h4 {
    font-size: 28px;
    font-family: '';
    font-weight: lighter;
    letter-spacing: 1px;
    padding-left: 16px;
}

.container .right_side .popular_artist .btn_s .fa-solid {
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;
    padding: 0 8px;
}

.container .right_side .popular_artist .btn_s .fa-solid:hover {
    color: white;
}

.container .right_side .popular_artist .artist_card {
    width: 100%;
    height: 130px;
    /* border: 1px solid white; */
    margin-top: 15px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: column;
    overflow: scroll;
    scroll-behavior: smooth;
    gap: 28px;
    padding: 0 14px;

}

.container .right_side .popular_artist .artist_card .artistItem {
    width: 116px;
    height: 105px;
    margin: 0 auto;
}

.container .right_side .popular_artist .artist_card .artistItem:hover {
    background-color: rgba(180, 177, 177, 0.141);
    border-radius: 20px;
    cursor: pointer;
    transition: .3s linear;

}

.container .right_side .popular_artist .artist_card .artistItem img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.container .right_side .popular_artist .artist_card .artistItem p {
    font-size: 14px;
    font-weight: lighter;
    font-family: '';
    text-align: center;
    line-height: 14px;
}

.container .right_side footer {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(28, 27, 27, 0.904);
    background-color: rgba(6, 6, 6, 0.842);
    color: white;
    margin-top: 10px;
}

.container .right_side footer span {
    font-size: larger;
    font-family: 'alto';
}

.container .bottom_side {
    width: 100%;
    height: 10%;
    padding: 0 28px;
    display: flex;
    align-items: center;
    /* border: 1px solid white; */
    /* background-color: var(--bg-color1); */
    background-color: black;
    box-shadow: 0px 2px 7px #090f1f;
}

.container .bottom_side .wave {
    width: 30px;
    height: 30px;
    /* border: 1px solid white; */
    padding-bottom: 5px;
    margin-right: 12px;
    display: flex;
    align-items: flex-end;
}

.container .bottom_side .wave .wave1 {
    width: 2px;
    height: 10px;
    background-color: #36e2ec;
    margin: 0 2px;
    border-radius: 10px 10px 0px 0px;
    animation: wave .6s infinite linear;

}

.container .bottom_side .wave .wave1:nth-child(2) {
    height: 13px;
    animation-delay: .4s;

}

.container .bottom_side .wave .wave1:nth-child(3) {
    height: 8px;
    animation-delay: .9s;
}

@keyframes wave {
    0% {
        height: 10px;
    }

    50% {
        height: 15px;
    }

    100% {
        height: 10px;
    }
}


.container .bottom_side img {
    width: 36px;
    height: 36px;
}

.container .bottom_side .song_info {
    width: 260px;
    height: 36px;
    /* border: 1px solid white; */
    margin-left: 15px;
    color: white;
    line-height: 16px;
}

.container .bottom_side .song_info p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'lato';
}

.container .bottom_side .song_info .singer {
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #ffffffa1;
}

.container .bottom_side .icon {
    display: flex;
    align-items: center;
    color: white;
    margin: 0 6px 0 10px;
}

.container .bottom_side .icon .heart {
    font-size: 20px;
    margin: 0 2px;
    cursor: pointer;
}

.container .bottom_side .icon .muc {
    font-size: 4px;
    margin-right: 8px;
    outline: none;
    cursor: pointer;
    align-items: center;
}

.container .bottom_side .icon .bi {
    margin: 0 8px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

.container .bottom_side span {
    width: 32px;
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.container .bottom_side #currentStart {
    margin-left: 12px;
    margin-right: 10px;
}

.container .bottom_side .bar {
    position: relative;
    width: 43%;
    height: 2px;
    background-color: rgb(105, 105, 170, .1);
}

.container .bottom_side .bar .bar2 {
    position: absolute;
    background-color: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;

}

.container .bottom_side .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}

.container .bottom_side .bar .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}

.container .bottom_side .bar input {
    position: absolute;
    width: 100%;
    top: -8px;
    left: 0;
    cursor: pointer;
    z-index: 9999999;
    opacity: 0;
}

.container .bottom_side #currentEnd {
    margin-left: 10px;
}

.container .bottom_side .vol {
    position: relative;
    width: 100px;
    height: 2px;
    background-color: rgb(105, 105, 170, .1);
    margin-left: 50px;
}

.container .bottom_side .vol .bi {
    position: absolute;
    color: white;
    font-size: 25px;
    top: -16px;
    left: -30px;
}

.container .bottom_side .vol input {
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 99999999;
    opacity: 0;
}

.container .bottom_side .vol .vol_bar {
    position: absolute;
    background-color: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
}

.container .bottom_side .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1px;
    transition: 1s linear;
}

.container .bottom_side .vol .dot::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5px;
    box-shadow: inset 0px 0px 3px #36e2ec;
}